- body_id 'home'
%h1 HTTP::Success
%p 
  monthly meetups in the Upper Valley (of NH/VT)
  %br
  for web and mobile developers, programmers, and technology professionals
%h2
  Beginning Fall 2012
%p
  Join the list to be notified of upcoming events!
%p
  %form.form-horizontal{action:"http://parkerhill.us4.list-manage.com/subscribe/post?u=ec7193fc4554803ffb3d25368&amp;id=5a6ae59c30", method:"post", target:"_blank"}
    %input#mce-EMAIL{type:"email", name:"EMAIL", placeholder:"Email"}
    %input#mc-embedded-subscribe.btn{type:"submit", value:"Subscribe", name:"subscribe"}
#mce-responses
  #mce-error-response.response{style:"display:none"}
  #mce-success-response.response{style:"display:none"}

