- body_id 'home'
%h1 HTTP::Success
%p 
  monthly meetups in the Upper Valley (of NH/VT)
  %br
  for web and mobile developers, programmers, and technology professionals
%h2
  Beginning Fall 2012
%p
  Join the list to be notified of upcoming meetings!
