#home {
  background-color: #440000;
  color: #eee;
  text-align: center;
  h1 {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 48px;
  }
  h2 {
    font-size: 48px;
    line-height: 48px;
    margin: 48px;
  }
  p {
    font-size: 24px;
    line-height: 36px;
  }
  a {
    color: #eee;
  }
}