.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %h1 Httpsuccess
      .nav-collapse
        %ul.nav
          %li= link_to "Home", root_path
          %li= link_to "Aaaa", ''
          %li= link_to 'Bbbb', ''
          %li= link_to 'Cccc', ''
